.card {
  border: 1px solid;
  margin: 8px auto;
  border-radius: 8px;
  padding: 8px;
  background-color: beige;
  width: 30vw;
  min-width: 430px;
  text-align: center; 
}
table {
  margin: 0 auto
  }